{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div id='root'></div>
<script type='application/javascript'>
        window._json = '{{ json|safe|escapejs }}';


</script>
<!-- <iframe src="http://192.168.90.206:8080/" name="iframe_a" height="100%" width="100%" title="VOTE "></iframe> -->

<p><a href="http://192.168.90.206:8080/" target="iframe_a"></a></p>
<script src="{% static 'fashionfinder/index.js' %}"></script>
<iframe src="http://127.0.0.1:8080/" , title="Iframe Example" width="100%" height="100%"></iframe> </iframe>

{% endblock %}
{% block scripts %}
{% endblock %}
