{% load static %}
<div class="container">
    <h2 class="title">Upload</h2>
	IDS: {{ids}}
	<ul>

		{%if user_piece_rec is not None%}
			{{user_piece_rec.descriptor}}
			{{user_piece_rec.labels}}
			{{user_piece_rec.hex_codes}}
			<img src= "/static/{{user_piece_rec.id}}.jpg"> </img>

		{%endif%}

		{% for rec in recs %}
		<li>
			{{rec.descriptor}}
			{{rec.labels}}
			{{rec.hex_codes}}
			<img src= "/static/{{rec.id}}.jpg"> </img>
			{% comment %} {{rec.image_data}} {% endcomment %}
			{% comment %} <img src="data:image/jpeg;base64,{{rec.image_data}}"> {% endcomment %}
		</li>
		{% endfor %}
	</ul>
	

</div>